.cart {
  display: flex;
  padding-top: 50px;
}
.cart-details-adresses {
  display: none;
}
.cart-cart {
  width: 50%;
  margin-top: 10px;
  width: 100%;
  padding-left: 30px;
}
.cart-del {
  width: 70%;
  padding-right: 130px;
}
.cart__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 132%;
  color: #1b1b1b;
}
.cart-details {
  width: 50%;
  margin-top: 50px;
}
.strong-aggree {
  background-color: rgba(5, 238, 55, 0.699);
  border: 0.3em solid rgba(5, 238, 55, 0.699);
  border-radius: 50%;
  cursor: pointer;
  font: inherit;
  height: 1.3em;
  outline: none;
  width: 1.3em;
  margin-top: 10px;
}
.strong-aggree:checked {
  background-color: rgba(28, 238, 74, 0.699);
  border: 1em solid rgba(28, 238, 74, 0.699);
  -webkit-transition: background 0.15s, box-shadow 0.1s;
  transition: background 0.15s, box-shadow 0.1s;
}
.input__span {
  margin-left: 10px;
  margin-top: -5px;
}
.input_border-none {
  border: none;
  outline: none;
  background: white;
  font-size: 24px;
  width: 100px;
}
.cart-deliv {
  margin-right: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #043e44;
}
.inp__radio {
  cursor: pointer;
}
.cart-details-mobile-link {
  display: none;
}
.cart-details-mobile-block {
  display: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.cart-typeOfDelivery {
  display: flex;
  margin-top: 20px;
}
.cart-typeOfDelivery-1 {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.cart-typeOfDelivery-2 {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.inp__del {
  margin-top: 10px;
  background: #f7f7f7;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 147%;
  color: #1b1b1b;
  border: none;
  outline: none;
  height: 40px;
  padding: 0 16px;
}
.cart__del-title {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #7b7b7b;
}
.cart-product-cards {
  background-color: rgba(254, 253, 253, 0.779);
  /* border: 1px solid rgb(195, 191, 191); */
  border-radius: 7px;
  margin-top: 20px;
  width: 100%;
}

.cart-product-card {
  padding: 20px 20px 20px 10px;
  display: flex;
  margin: 0px;
  border: 1px solid rgba(201, 201, 201, 0.5);
  width: 100%;
}

.cart-product-card-imgWithCount {
  position: relative;
}

.cart-product-card-img {
  width: 110px;
  height: 80px;
  border-radius: 7px;
  border: none;
  margin-top: 5px;
}

.cart-product-card-titles {
  align-items: center;
  width: 100%;
}

.cart-product-card-title {
  margin-left: 20px;
  width: 100%;
}

.cart-product-card-title-name {
  font-weight: 520;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #1b1b1b;
}

.cart-product-card-title-price {
  font-weight: 600;
  font-size: 22px;
  line-height: 132%;
  color: #209041;
  padding-top: 8px;
}
.cart-product-name-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 7px;
  display: flex;
  align-items: center;
  color: #7b7b7b;
}
.cart-product-card-count {
  display: flex;
  justify-items: end;
  align-items: center;
  margin-left: 10px;
  background-color: rgb(243, 243, 243);
}
.cart-price-count-block {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.cart-product-cardss {
  display: flex;
  justify-content: space-between;
}
.cart-product-card-count-1 {
  margin-left: 15px;
  margin-right: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  display: flex;
  align-items: center;
  text-align: center;
}
.btn-cart-product {
  border: none;
  background: #f7f7f7;
  border-radius: 45px;
  padding: 5px 20px;
  color: black;
  font-size: 28px;
  font-weight: 500;
  cursor: pointer;
}
.cart-product-card-count-btn {
  display: flex;
  flex-direction: column;
}

.nameAndPrice {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.deleteCart {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.cart-totalPrice {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 6em;
}
.cart-totalPrice p {
  margin-right: 10px;
}
.cart-details-border {
  margin-top: 10px;
}
/* .cart-details-border {
  background-color: rgba(254, 253, 253, 0.779);
  border: 1px solid rgb(195, 191, 191);
  border-radius: 7px;
  width: 90%;
  margin-top: 70px;
  padding: 5%;
} */

.cart-details-adress {
  width: 95%;
}

.cart-details-adress-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-typeOfPay {
  display: flex;
}
.cart-typeOfPay-1,
.cart-typeOfPay-2 {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.cart-details-price-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.cart-details-price-1 h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 147%;
  text-align: right;
  color: #209041;
}
.cart-details-price-1 h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 147%;
  color: #1b1b1b;
}
.cart-details-price-1 h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 147%;
  color: #dc3a3a;
}
.cart-det-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 147%;
  color: #7b7b7b;
  text-transform: uppercase;
}
.cart-det-price {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 147%;
  color: #209041;
}
.cart-details-price {
  margin-top: 40px;
}
.cart-details-btn {
  margin-top: 25px;
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  background: rgb(62, 140, 124);
  border-radius: 5px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}
.alert-enter {
  opacity: 0;
  transform: translateY(200px);
}
.alert-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms, transform 1000ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1000ms, transform 1000ms;
}

.cart__bonus {
  font-weight: 400;
  font-size: 18px;
  line-height: 146%;
  text-align: center;
  margin-bottom: 20px;
  text-decoration-line: underline;
  color: #ed6b06;
}
.del-price {
  color: #dc3a3a;
}
@media (max-width: 1024px) {
  .cart {
    flex-wrap: wrap;
  }
  .cart-cart {
    width: 80%;
    padding-left: 0;
    margin-bottom: 30px;
  }
  .cart-details {
    width: 70%;
  }
  .product_list-cart {
    display: none;
  }
}
@media (max-width: 880px) {
  .cart {
    flex-wrap: wrap;
  }
  .cart-cart {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .cart-details {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .cart__title {
    font-weight: 500;
    font-size: 18px;
  }
  .cart-deliv {
    font-weight: 400;
    font-size: 16px;
    line-height: 147%;
  }
  .cart__del-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .cart-details-adress-2 {
    flex-direction: column;
  }
  .inp__del {
    width: 90%;
  }
  .cart-details-adress {
    width: 90%;
  }
  .cart-det-title {
    font-size: 16px;
  }
  .cart-details-price-1 h4 {
    font-size: 16px;
  }
  .cart-details-price-1 h3 {
    font-size: 16px;
  }
  .cart-details-price-1 h5 {
    font-size: 16px;
  }
  .cart-product-card-title-price {
    font-size: 18px !important;
  }
  .btn-cart-product {
    padding: 0px 10px !important;
  }
  .cart-product-card-img {
    width: 120px;
    height: 90px;
  }
}
@media (max-width: 480px) {
  .cart-details-adress-2 {
    flex-direction: column;
  }
  .inp__del {
    width: 100%;
  }
  .cart-details-adress {
    width: 100%;
  }
  .cart-det-title {
    font-size: 16px;
  }
  .cart-details-price-1 h4 {
    font-size: 16px;
  }
  .cart-details-price-1 h3 {
    font-size: 16px;
  }
  .cart-details-price-1 h5 {
    font-size: 16px;
  }
  .cart-product-card-title-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1b1b1b;
  }
  .cart-product-name-price {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .cart-price-count-block {
    flex-direction: column-reverse;
  }
  .cart-product-cardss {
    width: 100%;
  }
  .alert {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding: 0 50px;
    top: 150px;
    left: 0;
    background: white;
    display: block;
    z-index: 120;
  }
  .my-node {
    position: absolute;
    width: 100%;
    height: 45%;
    padding: 0 50px;
    top: 50px;
    left: 0;
    background: black;
    display: none;
  }
  .cart-details-mobile-block {
    display: block;
  }
  .cart-details-mobile {
    display: none;
  }
  .cart-details-mobile-link {
    display: block;
  }
  .cart-del-det {
    display: flex;
    justify-content: space-between;
  }
  .cart-del-img {
    width: 15px;
    height: 15px;
  }
  .show__specialist {
    margin-top: 40px;
  }
  .show__specialist p {
    font-weight: 500;
    font-size: 18px;
    line-height: 147%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1b1b1b;
    mix-blend-mode: normal;
  }
  .product_list-main {
    border-right: none !important;
    width: 100% !important;
  }
  .cart__bonus {
    font-size: 16px;
    padding-bottom: 50px;
  }
}
.btn-close {
  display: none;
}
