.cart {
  display: flex;
}

.cart-cart {
  width: 100%;
}
.cart__title {
  font-weight: 400;
  font-size: 31px;
  line-height: 146%;
  margin-bottom: 10px;
  color: #1b1b1b;
}
.cart-details {
  width: 50%;
}
.strong-aggree {
  background-color: rgba(5, 238, 55, 0.699);
  border: 0.3em solid rgba(5, 238, 55, 0.699);
  border-radius: 50%;
  cursor: pointer;
  font: inherit;
  height: 1.3em;
  outline: none;
  width: 1.3em;
  margin-top: 10px;
}
.strong-aggree:checked {
  background-color: rgba(28, 238, 74, 0.699);
  border: 1em solid rgba(28, 238, 74, 0.699);
  -webkit-transition: background 0.15s, box-shadow 0.1s;
  transition: background 0.15s, box-shadow 0.1s;
}
.input__span {
  margin-left: 10px;
  margin-top: -5px;
}
@media (max-width: 426px) {
  .cart {
    flex-wrap: wrap;
  }
  .cart-cart {
    width: 100%;
  }
  .cart-details {
    width: 100%;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}
.cart-typeOfDelivery {
  display: flex;
}
.cart-typeOfDelivery-1 {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.cart-typeOfDelivery-2 {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.cart-product-cards {
  background-color: rgba(254, 253, 253, 0.779);
  /* border: 1px solid rgb(195, 191, 191); */
  border-radius: 7px;
  margin-top: 20px;
  width: 100%;
}

.cart-product-card {
  display: flex;
  align-items: center;
  margin: 10px;
  border: 1px solid rgb(240, 238, 238);
  border-radius: 7px;
}

.cart-product-card-imgWithCount {
  position: relative;
}

.cart-product-card-img {
  width: 100px;
  border-radius: 7px;
  border: 1px solid grey;
}

.cart-product-card-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-product-card-title {
  margin-left: 10px;
  width: 200px;
}

.cart-product-card-title-name {
  margin-right: 10px;
  width: 100px;
}

.cart-product-card-title-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 132%;
  color: #209041;
}

.cart-product-card-count {
  display: flex;
  justify-items: end;
  align-items: center;
  margin-left: 10px;
  background-color: rgb(243, 243, 243);
}

.cart-product-card-count-1 {
  margin-left: 10px;
}

.cart-product-card-count-btn {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.nameAndPrice {
  width: 100%;
}

.cart-totalPrice {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 6em;
}
.cart-totalPrice p {
  margin-right: 10px;
}
.cart-details-border {
  margin-top: 70px;
}
/* .cart-details-border {
  background-color: rgba(254, 253, 253, 0.779);
  border: 1px solid rgb(195, 191, 191);
  border-radius: 7px;
  width: 90%;
  margin-top: 70px;
  padding: 5%;
} */

.cart-details-adress {
  width: 95%;
}

.cart-details-adress-2 {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.cart-typeOfPay {
  display: flex;
}
.cart-typeOfPay-1,
.cart-typeOfPay-2 {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.cart-details-price-1 {
  display: flex;
  justify-content: space-around;
}

.cart-details-btn {
  width: 100%;
  height: 30px;
  background-color: rgb(74, 224, 217);
  border-radius: 7px;
}
