@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

:root {
  --clr: #9fa8da;
  --clrbg: #c2c8c6;
  --clrAct: #311b92;
}

.navigation {
  min-width: 100%;
  width: 425px;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
}

.navigation > ul {
  position: relative;
  list-style: none;
  display: flex;
}

.navigation ul li {
  width: 70px;
  height: 70px;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.navigation ul li .icon {
  position: relative;
  display: block;
  line-height: 80px;
  color: rgb(38, 216, 172);
  transition: 0.5s;
}

.navigation ul li.active .icon {
  transform: translateY(-40px);
  color: rgb(64, 14, 202);
}

.navigation ul li .name {
  position: absolute;
  transition: 0.3s;
  transform: translateY(50px);
  opacity: 0;
  font-size: 0.95em;
}

.navigation ul li.active .name {
  transform: translateY(30px);
  opacity: 1;
  color: var(--clrAct);
  color: black !important;
  position: absolute;
  bottom: 45px;
  left: 10px;
  font-size: 16px;
  /* text-align: center; */
}

.menu-bg {
  position: absolute;
  top: -40px;
  background: var(--clrbg);
  width: 70px;
  height: 70px;
  border: 7px solid white;
  border-radius: 100%;
  transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .menu-bg {
  transform: translateX(calc(70px * 0)) !important;
}

.navigation ul li:nth-child(2).active ~ .menu-bg {
  transform: translateX(calc(70px * 1)) !important;
}

.navigation ul li:nth-child(3).active ~ .menu-bg {
  transform: translateX(calc(70px * 2)) !important;
}

.navigation ul li:nth-child(4).active ~ .menu-bg {
  transform: translateX(calc(70px * 3)) !important;
}

.navigation ul li:nth-child(5).active ~ .menu-bg {
  transform: translateX(calc(70px * 4)) !important;
}

.bx {
  font-size: 26px;
}

@media (max-width: 400px) {
  .navigation {
    justify-content: left;
    align-items: flex-start;
    padding: 0 15px;
  }
}
@media (max-width: 380px) {
  .navigation {
    justify-content: left;
    align-items: flex-start;
    padding: 0 8px;
  }
}
@media (max-width: 360px) {
  .navigation {
    justify-content: left;
    width: 360px;
    align-items: flex-start;
    padding: 0 10px;
  }
  .navigation ul li {
    width: 65px;
  }
  .navigation ul li:nth-child(1).active ~ .menu-bg {
    transform: translateX(calc(70px * 0)) !important;
  }

  .navigation ul li:nth-child(2).active ~ .menu-bg {
    transform: translateX(calc(62px * 1)) !important;
  }

  .navigation ul li:nth-child(3).active ~ .menu-bg {
    transform: translateX(calc(64px * 2)) !important;
  }

  .navigation ul li:nth-child(4).active ~ .menu-bg {
    transform: translateX(calc(64px * 3)) !important;
  }
  .navigation ul li:nth-child(5).active ~ .menu-bg {
    transform: translateX(calc(64px * 4)) !important;
  }
}
@media (max-width: 350px) {
  .navigation {
    justify-content: left;
    align-items: flex-start;
    padding: 0 20px 0 10px;
  }
  .navigation ul li {
    width: 60px;
  }
  .menu-bg {
    position: absolute;
    top: -35px;
    background: var(--clrbg);
    width: 60px;
    height: 60px;
    border: 7px solid white;
    border-radius: 100%;
    transition: 0.5s;
  }
  .navigation ul li:nth-child(1).active ~ .menu-bg {
    transform: translateX(calc(70px * 0)) !important;
  }

  .navigation ul li:nth-child(2).active ~ .menu-bg {
    transform: translateX(calc(59px * 1)) !important;
  }

  .navigation ul li:nth-child(3).active ~ .menu-bg {
    transform: translateX(calc(60px * 2)) !important;
  }

  .navigation ul li:nth-child(4).active ~ .menu-bg {
    transform: translateX(calc(60px * 3)) !important;
  }
  .navigation ul li:nth-child(5).active ~ .menu-bg {
    transform: translateX(calc(60px * 4)) !important;
  }
  .navigation ul li.active .name {
    font-size: 14px;
  }
  .bx {
    font-size: 24px;
  }
}
