.categories_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}
.containe {
  width: 100%;
}
.categories_card {
  margin: 10px;
}

.categories_title {
  color: #fff;
}

.categories_card {
  display: flex;
  justify-content: space-between;
}
.categories_card::before,
.categories_card::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}
.categories_card::before {
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #fff transparent;
  transition: border 0.25s;
}
.categories_card::after {
  content: "Open";
  bottom: 15px;
  right: 15px;
  color: #151515;
  font-size: 21px;
  opacity: 0;
}
.categories_card:hover::before {
  border-width: 0 0 100px 100px;
}
.categories_card:hover::after {
  opacity: 1;
  transition: opacity 0.5s;
}
.categories_title {
  position: absolute;
  bottom: -10px;
  left: 10px;
}

.categories_card h2 {
  color: white;
  font: 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  /* background: rgb(0, 0, 0);  */
  background: rgba(0, 0, 0, 0.3);
  padding: 0;
}

/* test */
/* .cat-card {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  position: relative;
  width: 300px;
  height: 200px;
  background: url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)
    center no-repeat;
  background-size: cover;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
} */
.cat-card::before,
.cat-card::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(60% + 35px);
  background-color: #fff;
  transition: transform 0.2s 0.25s ease-in;
  z-index: -1;
}
.cat-card::before {
  top: 0;
  clip-path: polygon(0 0, 100% 45%, 0% 100%);
  transform: translateY(-100%);
}
.cat-card::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(100%);
}
.cat-card_content {
  opacity: 0;
  transition: opacity 0.25s;
}
.cat-card:hover::before,
.cat-card:hover::after {
  transform: translateY(0);
}
.cat-card:hover .cat-card_content {
  opacity: 1;
  transition-delay: 0.3s;
}
/* end test */

/* test-2 */
.categories_card-1 {
  /* margin-left: 5px;
  margin-right: 5px; */
  /* margin-top: 10px; */
}
/* .categories_card-img-1 {
  width: 100%;
  height: 185px;
  border-radius: 7px;
} */
/* .cat__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 7px;
} */
.cat__desktop {
  width: 330px;
  height: 90%;
  object-fit: cover;
  margin-top: 20px;
}
.categories_card-1 h2 {
  color: white;
  font: 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  /* background: rgb(0, 0, 0);  */
  background: rgba(0, 0, 0, 0.3);
  padding: 0;
}
.cat__block {
  position: relative;
  height: 240px;
  width: 330px;
}
.cat__title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-shadow: 0 8px 8px rgb(0 0 0 / 50%);
  z-index: 2;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 780px) {
  .cat__img {
    width: 100%;
    height: 100%;
  }
  .cat__block {
    width: 100%;
    height: 170px;
  }
  .cat__img-small {
    width: 50%;
  }
  .cat__desktop {
    margin-top: 0;
    width: 100%;
  }
  .cat__title {
    bottom: 30px;
  }
  .cat__block-mobile {
    margin-top: 0px;

    width: 49%;
  }
}
@media (max-width: 425px) {
  .cat__title {
    font-size: 18px;
  }
}
