.about__main {
  display: flex;
  padding-bottom: 50px;
}
.about__main-check {
}
.about__main-choice {
  width: 248px;
  height: 48px;
  padding: 12px 24px 12px 16px;
  cursor: pointer;
  color: #1b1b1b;
}
.actives {
  color: #209041;
  background: rgba(32, 144, 65, 0.1);
  border-radius: 8px;
  padding: 12px 24px 12px 16px;
}
.about__main-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 147%;
}
.about__main-choice:hover {
  color: #209041;
  background: rgba(32, 144, 65, 0.1);
  border-radius: 8px;
}
.about__main-content {
  margin-left: 50px;
}
.about__content-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 132%;
  color: #209041;
}
.about__content-text {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #7b7b7b;
}
.about__content-name {
  margin-top: 38px;
  font-weight: 600;
  font-size: 28px;
  line-height: 132%;
  color: #1b1b1b;
}
.about__content-naming {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 147%;
  color: #209041;
}
@media screen and (max-width: 880px) {
  .about__main {
    flex-direction: column;
  }
  .about__main-content {
    margin: 0;
  }
  .about__main-choice {
    width: 100%;
  }
  .about__content-title {
    padding-top: 25px;
  }
}
