.product_main-list {
  display: flex;
  column-gap: 50px;
}
.product_list-main {
  display: flex;
  column-gap: 30px;
  width: 70%;
  flex-wrap: wrap;
}
.product_list-cart {
  width: 30%;
}

.skeleton_block {
  width: 100%;
  padding: 0 10px;
}

.skeleton_button {
  width: 220px !important;
  height: 20px !important;
  margin: 30px auto 0px auto !important;
}
