.product_main-list {
  display: flex;
}
.product_list-main {
  display: flex;
  column-gap: 30px;
  width: 70%;
  flex-wrap: wrap;
  border-right: 1px solid grey;
}
.product_list-cart {
  width: 40%;
}
