.navbar__top {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.navbar__top-logo {
}
.navbar__top-logo img {
}
.navbar__top-stock {
  display: flex;
  align-items: center;
}
.navbar__top-stock-link {
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin-right: 20px;
}
.navbar__bottom {
  margin-top: 17px;
  background: rgba(108, 186, 170);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}
.navbar__bottom-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.navbar__bottom-catalog {
  padding-left: 10px;
  margin: auto 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}
.navbar__bottom-search {
  background: #ffffff;
  border-radius: 8px;
  width: 482px;
  height: 32px;
  border: none;
  outline: none;
  padding: 7px 12px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.navbar__bottom-search::placeholder {
  color: #b1b1b1;
}
.navbar__bottom-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__bottom-user-link {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.exit {
  width: 25px !important;
  height: 25px;
}
.navbar__bottom-trash {
  margin: 0 15px;
}
.navbar__bottom-priceOfTrash {
  display: inline-block;
  width: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.all__categories {
  max-width: 254px;
  min-height: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  top: 20%;
  z-index: 100;
}
.all__categories-link {
  padding: 12px 24px 12px 16px;
  z-index: 100;
}
.all__categories-link:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 147%;
  display: flex;
  align-items: center;
  color: #209041;
  background: rgba(32, 144, 65, 0.1);
  border-radius: 8px;
  cursor: pointer;
}
.all__categories-link p {
  font-weight: 400;
  font-size: 16px;
  line-height: 147%;
  color: #1b1b1b;
  margin-bottom: 0;
}
.navbar__bottom-price .navbar__bottom-trash .navbar__bottom-user {
  cursor: pointer;
}
.navbar__burger {
  width: 24px;
  height: 24px;
}
.all__categories {
  transition: transform 0.35s ease-in-out;
}
.grow {
  transform: scale(1);
}
.navbar__mobile {
  display: none;
}
.navbar__bottom-user-mobile {
  display: none;
}
.navbar__bottom-catalog {
  display: block;
}
.navbar__bottom-trash-mobile {
  display: none;
}
.navbar__bottom-price-mobile {
  display: none;
}

.navbar__bottom-trash-link {
}

@media (max-width: 960px) {
  .navbar__bottom-catalog {
    display: none;
  }
}
@media (max-width: 840px) {
  .navbar__bottom-catalog {
    display: none;
  }
  .navbar__bottom-search {
    width: 250px;
  }
  .all__categories {
    top: 11%;
  }
  .span_value {
    display: none;
  }
}
.span_value {
  margin-left: 5px;
}
@media (max-width: 580px) {
  .navbar__bottom-catalog {
    display: none;
  }
  .navbar__bottom-search {
    width: 100%;
  }
  .navbar__mobile-burger {
    display: block;
    display: flex;
    align-items: center;
    margin-left: 0;
  }
  .navbar__bottom-burger {
    display: none;
  }
  .navbar__bottom {
    padding: 8px 8px;
  }
  .navbar__bottom-price {
    display: none;
  }
  .navbar__bottom-trash {
    display: none;
  }
  .navbar__bottom-trash-mobile {
    display: block;
  }
  .navbar__bottom-price-mobile {
    display: block;
    margin-left: 10px;
  }
  .navbar__bottom-price-mobile span {
    color: black;
  }
  .navbar__top-stock {
    display: none;
  }
  .navbar__right-mobile {
    display: flex;
    align-items: center;
  }
  .navbar__bottom-user-mobile {
    margin-right: 10px;
  }
  .navbar__bottom-user {
    display: none;
  }
  .navbar__top-logo {
    display: none;
  }
  .navbar__mobile {
    display: flex;
  }
  .navbar__bottom-user-mobile {
    display: block;
  }
  .navbar__top-logo-mobile {
    margin-right: 20px;
  }
  .burger__block-content {
    padding: 57px;
    position: absolute;
    background: white;
    /* height: 100%; */
    overflow: hidden;
    z-index: 100;
  }
  .burger__block {
    margin-bottom: 44px;
  }
  .burger__block {
    margin-bottom: 16px;
  }
  .burger__block-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 147%;
    color: #043e44;
  }
  .burger__number {
    font-weight: 400;
    font-size: 16px;
    line-height: 147%;
    display: flex;
    align-items: center;
    color: #209041;
    margin-bottom: 16px;
  }
  .burger__number-button {
    margin-top: 58px;
  }
  .burger__number-button button {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    background: rgb(62, 140, 124);
    border-radius: 5px;
    padding: 8px 55px;
    border: none;
    outline: none;
  }
  .all__burger {
  }
}
.search_modal-window {
  position: absolute;
  left: 0;
  top: 130px;
  width: 100%;
  min-height: 100vw;
  background-color: white;
  z-index: 100;
}
.search_modal-product {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  z-index: 100;
}
.search_modal-close {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.result_not-find {
  padding-top: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #7b7b7b;
}
.close_x {
  color: #7b7b7b;
  padding-top: 20px;
  cursor: pointer;
}
@media (max-width: 425px) {
  .navbar__bottom-user-mobile {
    display: none;
  }
  .navbar__bottom-trash-mobile {
    display: none;
  }
}
