* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footerlogo {
  width: 80px;
}
#confidential {
  font-size: 12px;
  color: white;
}
.footer {
  width: 100%;
  height: 100%;
  background: rgba(108, 186, 170);
  padding-top: 5%;
  padding-bottom: 5%;
}
.footer-component1 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tiktok {
  width: 26px;
}
.p2021-2022 {
  color: #fff;
}
.footer-component1 div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  margin: 15px 0;
}

.footer-component2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 0;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer-component2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  margin: 10px;
}
.footer-component2 div img {
  margin: 0 10px;
}
.footer-component2 div img:hover {
  /* margin-bottom: 5px; */
  cursor: pointer;
}

.footer .footer-component1 p {
  color: white;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Rubik", "sans-serif";
}
#footer_icons {
  width: 250px;
  display: flex;
  flex-direction: column;
  /* text-align: start; */
  justify-content: flex-start;
}
.footer_icons div {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-bottom: 1%;
  height: 50px;
  bottom: 0;
}
.footer_icons div img {
  cursor: pointer;
}
.footer_icons div img:hover {
  margin-top: 2px;
}
.footer_bold {
  font-weight: 600;
  font-family: "Rubik", "sans-serif";
  margin-bottom: 10px;
}

.footer-component3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 60px;
}
.footer-component3 p {
  color: white;
}
.footer-component3 a {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

@media (max-width: 1040px) {
  .footer-component2 {
    justify-content: center;
  }
  .footer-component1 {
    justify-content: space-around;
  }
}
@media (max-width: 650px) {
  .footer-component1 div {
    text-align: center;
  }
  .footer-component2 div p {
    width: 220px;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .footer {
    margin-bottom: 70px;
  }
}
