.autorization {
  display: flex;
  justify-content: center;
}
.autorization__block {
  padding: 96px 0px;
}
.autorization__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 132%;
  text-align: center;
  margin-bottom: 40px;
}
.autorization__input {
  margin-bottom: 20px;
}
.autorization__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #7b7b7b;
}
.autorization__inp {
  margin-top: 14px;
  background: #f7f7f7;
  border-radius: 5px;
  width: 264px;
  height: 40px;
  border: none;
  outline: none;
  padding: 8px 16px;
}
.autorization__inp::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 147%;
  color: #969494;
}
.autorization__button {
  background: rgb(62, 140, 124);
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  padding: 15px 0;
  margin-top: 40px;
  border: 1px solid #209041;
  border-radius: 5px;
  cursor: pointer;
}
.autorization__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #429f3a;
}
.autodone__block {
  padding: 20%;
}
.autodone__block-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 146%;
  text-align: center;
  color: #1b1b1b;
}
