@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  text-decoration: none;
}
p {
  margin-bottom: 0em !important;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  scroll-behavior: smooth;
}
.breadcrumps__block {
  display: flex;
  margin-top: 32px;
  margin-bottom: 40px;
}
.breadcrumps {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #7b7b7b;
}
.breadcrumps__slash {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin-left: 6px;
  margin-right: 6px;
  color: #7b7b7b;
}

.navigation_menu {
  display: none;
}
@media (max-width: 426px) {
  .navigation_menu {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}
