.video-container {
  max-width: 100%;
  width: 100%;
  margin-top: 50px;
}
.popular_food-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 132%;
  display: flex;
  align-items: center;
  color: #1b1b1b;
  mix-blend-mode: normal;
  margin: 58px 0 40px 0;
}
.popular_block-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.popular_card {
  width: 300px;
  height: 430px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 5px !important;
}
.image_cards {
  width: 300px;
  height: 264px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.popular_bottom-text {
  padding: 0 38px 0 16px;
}
.cards_title-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #1b1b1b;
  mix-blend-mode: normal;
  margin-top: 44px;
}
.cards_title-desc {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #b1b1b1;
  mix-blend-mode: normal;
  margin-top: 4px;
}
.card_price-span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 146%;
  display: flex;
  align-items: center;
  color: #1b1b1b;
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 30px;
}

.card_position-card {
  position: absolute;
  right: 0;
  bottom: 16px;
  width: 56px;
  height: 36px;
  border-radius: 50px 0 0 50px;
  background: #37ecb6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
